<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="medium" class="ion-text-center">My ToDo</ion-title>
    <ion-buttons slot="end" style="margin-right: 20px;" (click)="addButton()">Add</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true" *ngIf="toDos == ''">
    <ion-item>
        <ion-label>No ToDo yet. Add one now!</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true" *ngIf="toDos != ''">
    <ion-item *ngFor="let todo of toDos; let i = index">
        <ion-label>{{ todo }}</ion-label>
        <ion-icon aria-hidden="true" name="create-outline" slot="end" style="margin-right: 5px;" (click)="edit(i)"></ion-icon>
        <ion-icon aria-hidden="true" name="trash-outline" slot="end" (click)="confirmDelete(i)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>  
